#mapcont {
    width: 100%;
height: 100%;
position:fixed;
}
 
#mapid {
	width: 100%;
    height: 100%;
	position:relative;
}

.leaflet-popup-content-wrapper {
	background-color: #222;
	margin: auto;
	border: 2px solid white;
}

.leaflet-popup-content-wrapper p, 
.leaflet-popup-content-wrapper h1,
.leaflet-popup-content-wrapper h2 {
	text-align: center;
	margin-top: 2px;
	margin-bottom: 2px;
	color: #fff;
}

.leaflet-popup-content-wrapper h1,
.leaflet-popup-content-wrapper h2 {
	font-size: 10px;
	line-height: 10px;
	font-weight:normal;
}
.leaflet-popup-content-wrapper p {
	font-size: 12px;
}

.leaflet-popup-content-wrapper img {
	display: block;
	width:100%;
	max-width: 512px;
}
img{
	width: 100%;
}
p{
	font-size: 20px;
	text-align: center;
}
h1{
	overflow: visible;
	font-size: 14px;
}
h2{
	font-size: 14px;
}
#point_image{
	width: 100%;
}
.pointlist p{
	text-align: left;
}
.pointlist img{
	margin-left:15px;
	margin-top: 40px;
}

form {
	margin: px;
}